@charset "UTF-8";
/* CSS Document */

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  StatusBar.styleLightContent();
}

body{
  background-color: #89e4ee;
  //background: linear-gradient(120deg, #a5f1fa, #69ced9);
}

.header{
  height: 40px;
  margin: 30px auto 20px; 
  width: 100%;
}

.chart {
  position: absolute;
  margin: 0 auto;
  width: 240px;
  height: 240px;
}

.graph {
  margin: 0 auto;
  width: 240px;
}

.pantsmater {
  z-index: 10;
}

.place{
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  text-align: center;
  width: 100%;
}

.main{
  height: 320px;
  width: 100%;
  position: relative;
}

.min{
  position: absolute;
  bottom: 85px;
  left: 100px;
  color: #fff;
  letter-spacing: 0.1rem;
}

.max{
  position: absolute;
  bottom: 85px;
  right: 100px;
  color: #fff;
  letter-spacing: 0.1rem;
}

.main-bottom{
  height: 100px;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 20;
}

.washed{
  left: 0;
  cursor: pointer;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80px;
}

.senzai{
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  left: 15px;
  height: 60px;
}

.setting{
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  right: 20px;
  height: 50px;
}

.pantscount-title{
  color: #fff;
  position: absolute;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  margin: 0 auto;
  top: 53px;
  left: 0;
  right: 0;
  text-align: center;
}

.pantspoint{
  background-color: #217adb;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  height: 20px;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  transform: rotate(200deg) translateX(120px);
  width: 20px;
  z-index: 10;
}

.datazone{
  color: #fff;
  margin-top: 40px;
  text-align: center;
  z-index: 30;
}

.data{
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.data span{
  font-size: 1rem;
  font-weight: bold;
}

.today-weather{
  display: inline-block;
  width: 45%;
}

.today-weather p{
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8rem;
  font-weight: bold;
}

.today-weather img{
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
  width: 55px;
}

.rainy-percent{
  padding: 10px;
}

.rainy-percent span{
  font-size: 130%;
  font-weight: bold;
}


.weekly-weather{
  background-color: #fff;
  padding: 8px 0px; 
  width: 100%;
}

.weekly-weather-title{
  color: #999;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 10px auto;
  text-align: center;
}

.week-box li{
  color: #fff;
  height: 60px;
  margin: 8px auto;
  padding: 8px 5px;
  width: 90%;
}

.week-box p{
  display: inline-block;
  vertical-align: middle;
}

.week-box img{
  display: inline-block;
  vertical-align: middle;
  height: 23px;
}

.week-left,.week-right{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.week-left{
  text-align: center;
  width: 24%;
}

.week-left p{
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.week-right{
  border-left: 1px solid #fff; 
  letter-spacing: 0.1rem;
  height: 100%;
  padding-left: 7%;
  text-align: left;
  width: 60%;
}

.slash{
  margin: 0 4%;
}

.week-right span{
  font-size: 130%;
  font-weight: bold;
}

.pants-will{
  font-size: 0.7rem;
  line-height: 1rem;
  margin: auto auto 3px 1%;
  
}

.pants-will span{
  font-size: 0.9rem;
  font-weight: 600;
  vertical-align: top;
}

.orange{
  background: linear-gradient(#f38331, #e56507);
}

.yellow{
  background: linear-gradient(#ffd200, #f4b801);
}

.green{
  background: linear-gradient(#50c855, #30ab36);
}

.blue{
  background: linear-gradient(#4e95e5, #2b79d1);
}

/*
.blue{
  background: linear-gradient(#3e69f3, #3e89dd);
}


.orange{
  background: linear-gradient(#f7623a, #e04419);
}

.yellow{
  background: linear-gradient(#ffd800, #f1bc04);
}

.green{
  background: linear-gradient(#53d559, #30ab36);
}

.blue{
  background: linear-gradient(#486de1, #1244e7);
}
*/
