チュートリアル

<% if @data %>
  <button>next</button>
<% end %>

<script type="text/javascript">
(function() {
  document.querySelector("button").addEventListener("click", function() {
    window.location = `${baseURL}/settings?init=true`
  }, false)
})();
</script>
