
  <!----------------------   header?って言っていいんか分からんからとりあえずヘッダー   ---------------------->
  <div class="header">
    <div class="place">Shibuya</div>
  </div>


  <!----------------------   main   ---------------------->
  <div class="main">
    <div class="maincircle">
      <div class="pantscircle">
        <p class="pantscount-title">Pants Count</p>
        <p class="pantscount">5</p>
        <div class="main-bottom">
          <img src="images/push.png" alt="洗濯完了！" class="washed">
          <img src="images/senzai.png" alt="洗剤" class="senzai">
          <img src="images/setting.png" alt="設定" class="setting">
        </div>
      </div>
    </div>
  </div>


  <!----------------------   weekly-weather   ---------------------->
  <div class="weekly-weather">
    <p class="weekly-weather-title">Weekly Weather</p>
    <div class="week-box">
      <li class="orange">
        <div class="week-left"><p>7/26<br>thu</p></div>
        <div class="week-right">
          <p class="pants-will">Pants Count：5</p><br>
          <img src="images/tenki-icon-sunny.png" alt="am-wether">
            /
          <img src="images/tenki-icon-sunny.png" alt="pm-wether">
          <p><span>　 10</span>%</p>
        </div>
      </li>
      <li class="yellow">
        <div class="week-left"><p>7/27<br>fri</p></div>
        <div class="week-right">
          <p class="pants-will">Pants Count：4</p><br>
          <img src="images/tenki-icon-sunny.png" alt="am-wether">
            /
          <img src="images/tenki-icon-rain.png" alt="pm-wether">
          <p><span>　 30</span>%</p>
        </div>
      </li>
      <li class="blue">
        <div class="week-left"><p>7/28<br>sat</p></div>
        <div class="week-right">
          <p class="pants-will">Pants Count：3</p><br>
          <img src="images/tenki-icon-rain.png" alt="am-wether">
            /
          <img src="images/tenki-icon-rain.png" alt="pm-wether">
          <p><span>　 80</span>%</p>
        </div>
      <li class="orange">
        <div class="week-left"><p>7/29<br>sun</p></div>
        <div class="week-right">
          <p class="pants-will">Pants Count：2</p><br>
          <img src="images/tenki-icon-sunny.png" alt="am-wether">
            /
          <img src="images/tenki-icon-sunny.png" alt="pm-wether">
          <p><span>　 10</span>%</p>
        </div>
      </li>
      <li class="orange">
        <div class="week-left"><p>7/30<br>mon</p></div>
        <div class="week-right">
          <p class="pants-will">Pants Count：1</p><br>
          <img src="images/tenki-icon-sunny.png" alt="am-wether">
            /
          <img src="images/tenki-icon-sunny.png" alt="pm-wether">
          <p><span>　 10</span>%</p>
        </div>
      </li>
      <li class="yellow">
        <div class="week-left"><p>8/1<br>tue</p></div>
        <div class="week-right">
          <p class="pants-will">Pants Count：0</p><br>
          <img src="images/tenki-icon-sunny.png" alt="am-wether">
            /
          <img src="images/tenki-icon-rain.png" alt="pm-wether">
          <p><span>　 30</span>%</p>
        </div>
      </li>
      <li class="orange">
        <div class="week-left"><p>8/2<br>wed</p></div>
        <div class="week-right">
          <p class="pants-will">Pants Count：0</p><br>
          <img src="images/tenki-icon-sunny.png" alt="am-wether">
            /
          <img src="images/tenki-icon-sunny.png" alt="pm-wether">
          <p><span>　 10</span>%</p>
        </div>
      </li>
    </div>
  </div>


<button id="a">初期化</button>
<a href="/"><button>最初からもう一度試す</button></a>

<script type="text/javascript">
document.querySelector("#a").addEventListener("click", function() {
  localStorage.clear();
},false);
</script>
